<!DOCTYPE html>
<html>
<head>
  <title>StudioCheck</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "StudioCheck", root_path, :class => :brand %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Servers", servers_path %></li>
          <li><%= link_to "Tests", test_descriptions_path %></li>
          <li><%= link_to "Backend", execution_path %></li>
        </ul>
      </div>
      <div>
        <ul class="nav pull-right">
          <li><a href="#" class="disabled" id='redis-status'></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <% if flash[:alert] %>
    <div class="span12">
        <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <%= flash[:alert] %>
        </div>
    </div>
    <% end %>

    <% if flash[:notice] %>
    <div class="span12">
        <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        <%= flash[:notice] %>
        </div>
    </div>
    <% end %>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <%= yield %>
    </div>
  </div>

  <footer class="page-footer"></footer>
</div>
</body>
</html>
